.vscode
.DS_Store
node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist-ssr
*.local
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.sw?
*.godot/
*.png.import
*.svg.import
